.tour {
  width: 100%;
  height: auto;
}

.tour__map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tour__map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

body {
  margin: 0;
}
