html {
  scroll-behavior: smooth;
  overflow-y: overlay;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: $black;
}

body.modal-open {
  overflow: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// html {
//     overflow-x: hidden;
//     margin-right: calc(-1 * (100vw - 100%));
// }
/*
При помощи calc(100vw - 100%) можно вычислить ширину скроллбара (а если он не отображается, то будет 0). Идея: при помощи отрицательного margin-right увеличить ширину <html> на эту ширину. При этом появляется горизонтальная полоса прокрутки — ее скрываем*/
