$black: #000000;
$white: #ffffff;
$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;
$full-scrn: #b3b3b3;
$full-scrn-hov: #989898;
$grey: #666666;
$grey-video: #c4c4c4;
$dot-active: #d2b183;
$dot: #999999;
$dark-grey: #333333;
$num: #a4a4a3;
$card-front: #bcbcbc;
$card-back: #939393;

$card-font: #161615;
